<!doctype html>
<html>

<head>
  <base th:href="${baseHref}" />
  <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <title>Dashboard Panel</title>
  <link rel="icon" type="image/x-icon" href="favicon.ico" />
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz"
    crossorigin="anonymous">
<link rel="stylesheet" href="/app/styles.baa1a392c6cf88543eaf.css"></head>
<script th:inline="javascript">
  /*<![CDATA[*/
  window["INJECTED_ENVIRONMENT"] = {
    serviceInstanceId: [[${ serviceInstanceId }]],
    token: [[${ token }]],
    production: false,
    baseUrls: {
      serviceBrokerUrl: [[${ endpointUrl }]],
    },
    customEndpoints: [[${ customEndpoints }]],
    ui: {
      title: "Service Broker Panel",
      logoSrc: "./assets/core/sb-white.svg"
    }
  };

  /*]]>*/
</script>

<body>
  <wrapper class="d-flex flex-column">
    <sb-root>
    </sb-root>    
  </wrapper>
<script src="/app/runtime-es2015.3573d1b74475ed58d8de.js" type="module"></script><script src="/app/runtime-es5.3573d1b74475ed58d8de.js" nomodule defer></script><script src="/app/polyfills-es5.18efcbaa95352e1c5ed2.js" nomodule defer></script><script src="/app/polyfills-es2015.a96a81a2c0fee078187f.js" type="module"></script><script src="/app/main-es2015.474ee27b4c90fa295381.js" type="module"></script><script src="/app/main-es5.474ee27b4c90fa295381.js" nomodule defer></script></body>
</html>